.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
  justify-items: center;
  /* align-items: center; */
  /* border: 1px solid #000000; */
  /* width: 600px; */
  position: absolute;
  top: 50px;
  right: 80px;
  /* margin-bottom: 200px; */
}
.card-category {
  /* border: 1px solid #d44141; */
  background-size: cover;
  background-position: center;
  width: 480px;
  height: 300px;
  /* display: flex; */
  /* align-items: center; */
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  /* margin: 0; */
}
