.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 60px;
  justify-items: center;
  position: absolute;
  right: 60px;
}
.card-category {
  /* border: 1px solid #d44141; */
  background-size: cover;
  background-position: center;
  width: 480px;
  height: 270px;
}

@media (max-width: 768px) {

  .card-category{
    width: 70%;
    }

  .cards{
   grid-template-columns: 1fr;
   align-items: center;
   position: relative;
   right: 0px;
  }
}
@media (max-width: 1140px) {

  .cards{
   position: relative;
   right: 0px;
  }
}
