.container-titile {
  /* border: 0.5px yellow solid; */
}

.title {
  padding: 1px 0px;
  font-size: 26px;
  letter-spacing: 5.64px;
  line-height: 100%;
  font-weight: 300;
  color: white;
  text-align: center;
}

.logo-container {
   /* border: 0.5px rgb(57, 57, 56) solid; */
   width: 200px;
   text-align: left;
}
.logo{
  color:rgba(87, 87, 87, 1);
  text-decoration: none;
  font-weight: 300;
}
