#work{
  position: absolute;
  top: 15%;
  right: 80px;
  /* border: 0.5px rgb(57, 57, 56) solid; */
}
#work p{
  text-align: right;
  font-size: 13px;
  letter-spacing: 1.52px;
  line-height: 100%;
  color: rgba(87, 87, 87, 1);
  z-index: 999;
  /* border: 0.5px rgb(57, 57, 56) solid; */
}
.work-content{
  /* border: 0.5px rgb(210, 85, 85) solid; */
  padding: 0px !important;
  width: 100%;
}



@media (max-width: 768px) {
  #work {
    display: absolute;
    left:0;
    right: 0;
    top:45%;
    transform: translateY(-50%);
  }
  #work p {
    text-align: center;
  }
  .work-content {
    height: 50vw;
    width: 100%;
    position: relative;
  }
  .work-title {
    top:50%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
