@import url("component/title.css");
@import url("component/btn-hp.css");

body {
  background-color: black;
  font-family: 'Jost', sans-serif;
  color: white;
}

h1 {
  margin: 19px;
}

a {
  color: white;
  letter-spacing: 1.2px;
}

.container-hp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

video {
  width: 720px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
